/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    font-size: calc(12px + 0.5vw);
}

/* Header styling */
header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #A2A2A2;
    padding-left: 24px;
    padding-right: 24px;
}

header img {
    height: 100%;
    width: auto;
}

header h1 b {
    color: #4A4A4A;
    font-weight: bold;
}

header h1 {
    margin-left: 10px;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
}

/* New styles for the logo and title container */
.logo-title {
    display: flex;
}

/* Navigation bar styling */
nav {
    display: flex;
    gap: 16px;
    color: #4D4D4D;
}
nav a img {
    display: none;
}

/* Media query for responsive layout */
@media (max-width: 768px) {
    .logo-title {
        display: none;
    }
    nav span {
        display: none;
    }
    nav a:hover {
        background-color: #D8D8D8;
    }
    nav {
        gap: 0;
    }
    nav a img {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: calc(3.2px + 8vw);
        
    }
}

/* Start section */
.start-section {
    display: flex;
    align-items: center;
    background-color: #D8D8D8;
}
/* Start image */
.start-image {
    flex: 1;
    margin: 32px 24px;
    box-sizing: border-box;
}

.start-image img {
    width: 100%;
    height: auto;
    display: block;
}
/* Start content */
.start-content {
    text-align: left;
    display: flex;
    height: auto;
    flex: 1;
    flex-direction: column;
    margin: 16px 16px;
    max-width: 500px;
}
.start-content h1 {
    font-size: calc(2.4em + 0.1vw);
    margin-bottom: 30px;
    color: #4A4A4A;
    font-weight: bold;
    line-height: 1;
}
.start-content p {
    font-size: calc(1.3em + 0.5vw);
    line-height: 1.5;
    color: #686868;
    margin-bottom: 30px;
}
/* Start content button */
.start-content .btn-start {
    background-color: #4A4A4A;
    color: #ffffff;
    font-size: 1.3em;
    text-decoration: none;
    transition: background-color 0.3s ease;
    padding: 8px;
    text-align: center;
}
.start-content .btn-start:hover {
    background-color: #686868;
}

/* Media query for responsive layout */
@media (max-width: 768px) {
    .start-section {
        flex-direction: column;
        align-items: center;
    }

    .start-content {
        order: 2;
        width: 100%;
        padding: 1;
        padding: 16px;
    }

    .start-content p {
        margin-bottom: 32px;
    }
    .start-image {
        margin: 0;
    }
}

/* Explore section */
.explore-section {
    display: flex;
    align-items: center;
    background-color: white;
}
/* Quote picture section */
.quote-picture-section {
    flex: 1;
    max-inline-size: 60%;
    margin: 32px 24px;
    box-sizing: border-box;
}

.quote-picture-section img{
    width: 100%;
    height: auto;
    display: block;
}

.quote-picture-section h1{
    font-size: 2rem;
    margin-top: 32px;
    color: #4A4A4A;
}

.quote-picture-section p{
    font-size: 0.9em;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #4A4A4A;
}

.quote-picture-section a{
    font-size: 0.9em;
    text-decoration: none;
    margin-bottom: 32px;
    color: #4A4A4A;
}

/* Read More section  */
.container {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    background-color: white;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 32px;
    margin-bottom: 92px;
}

.stacked-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: black;
    border: 1px solid #D8D8D8;
}
.stacked-link:hover {
    background-color: #D8D8D8;
}

.image {
    margin: 16px;
    width: 30%;
    height: auto;
}

.mobile-image {
    display: none;
}

.text {
    display: inline-block;
    margin: 12px;
}

.text h1 {
    color: #4A4A4A;
    font-size: 1.2em;
    font-weight: 800;
}

.text .read-details {
    color: #4A4A4A;
}

.text .read-more {
    color: #37B5EE;
}

/* Media query for responsive layout */
@media (max-width: 768px) {
    .explore-section {
        flex-direction: column;
        align-items: center;
    }

    .quote-picture-section {
        display: none;
    }

    .read-more-section {
        padding-left: 0;
        order: 2;
        width: 100%;
        margin-top: 32px;
    }

    .image {
        display: none;
    }

    .mobile-image {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .container { 
        margin: 16px 16px;
        flex: 1;
    }

    .stacked-link {
        border: none;
    }

}